<section class="section">
  <div class="container">
    <h1>{{ collection.title }}</h1>
    {% if collection.description != blank %}<p>{{ collection.description }}</p>{% endif %}
    <div class="product-cards">
      {% for product in collection.products %}
        <article class="product-card">
          <a href="{{ product.url }}">
            {% if product.featured_image %}
              <img src="{{ product.featured_image | image_url: width: 600 }}" alt="{{ product.featured_image.alt | default: product.title | escape }}" loading="lazy" width="600" height="600">
            {% else %}
              {{ 'product-3' | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
            <h2>{{ product.title }}</h2>
            <p>{{ product.price | money }}</p>
          </a>
        </article>
      {% else %}
        <p>No products found.</p>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Collection grid",
  "settings": []
}
{% endschema %}
